.table {
  margin: 3%;
  max-width: 80%;
}

.btn {
  margin-left: 50px;
  font-size: 16px;
  color: rgb(61, 40, 40);
  margin: 0 12px;
}
p.remove {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background: #e0e0e0;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  margin-top: 12px;
  margin-left: 75px;
  line-height: 0.85;
  transition: all, 0.25s, linear;
}
p.remove:hover {
  background: rgb(240, 58, 13);
  color: azure;
  cursor: pointer;
}
