a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: teal;
}
.btn {
  margin-right: 20px;
}
.navbar {
  background-color: #f0f8ff;
}
.dropdown-menu {
  margin-top: 50px;
}
.dropdown-item:hover {
  cursor: pointer;
  font-size: large;
}
