<nav class="navbar">
  <h4>
    <a [routerLink]="['/home']">
      <img
        src="../../../assets/images/airlogo.png"
        width="8%"
        height="8%"
        alt="Revature"
      />
      Air Tech App
    </a>
  </h4>
  <form class="form-inline">
    <span *ngIf="isAdmin">
      <button class="btn btn-outline-dark my-2 my-sm-0" [routerLink]="['/add']">
        Admin Options
      </button>
    </span>

    <button
      class="btn btn-outline-secondary my-2 my-sm-0"
      [routerLink]="['/cart']"
    >
      🛒Cart
      <span class="badge badge-info">{{ cartCount }}</span>
    </button>
    <div class="btn-group dropleft">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      ></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/reset']"> Reset Password </a>
        <a class="dropdown-item" (click)="logout()" id="logout"> Logout → </a>
      </div>
    </div>
  </form>
</nav>
