.card {
  size: auto;
  min-width: 275px;
  margin-top: 30px;
  max-width: 200px;
  height: fit-content;
  transition: 0.2s ease-out;
}

img {
  justify-content: center;
  height: 200px;
  width: auto;
  max-height: 200px;
  max-width: 307px;
  left: 0;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -10px, 0);
}

.quantity {
  min-width: 4em;
  width: 10em;
  justify-content: center;
  display: flex;
}

.card-body2 {
  display: flex;
  padding-bottom: 1em;
}

.addbutton {
  width: 50%;
  justify-content: center;
  display: flex;
}
.error {
  color: red;
}

.inputValues {
  margin-top: 5px;
  background-color: rgba(249, 249, 249, 0.834);
  border: 1px black solid;
}
.Reviews {
  background-color: rgba(207, 255, 192, 0.392);
  border-radius: 10px;
  border: 1px green solid;
  padding: 5px;
  margin: 2px;
}
.Reviews2 {
  background-color: rgba(246, 255, 192, 0.392);
  border-radius: 10px;
  border: 1px rgb(223, 223, 15) solid;
  padding: 5px;
  margin: 2px;
}
.title {
  font-weight: 300;
}
.Reviews3 {
  background-color: rgba(255, 192, 192, 0.392);
  border-radius: 10px;
  border: 1px red solid;
  padding: 5px;
  margin: 2px;
}
textarea {
  height: 35px;
}
#avg {
  font-size: small;
}
textarea {
  height: 50px;
}
.sortingButtons {
  display: flex;
  justify-content: center;
}
.sortingButtons button {
  margin-top: 0px;
  margin-bottom: 3px;
  margin-right: 35px;
  margin-left: 35px;
  border: 1px rgb(215, 215, 215) solid;
  font-size: small;
}
.x {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 20px;
  background-color: transparent;
  padding: 0.5em;
  font-size: 0.75em;
  display: block;
  line-height: 0.85;
  transition: all, 0.25s, linear;
}
.x:hover {
  background: rgb(240, 58, 13);
  color: azure;
  cursor: pointer;
}
.reviewsDisplayed {
  height: 100px;
  overflow-y: scroll;
}
