<nav class="navbar navbar-light bg-light">
    <h4>
        <a [routerLink]="['/home']">
        <img src="../../../assets/images/airlogo.png" width="8%" height="8%" alt="Revature">
        Air Tech App
        </a>
    </h4>
    <form class="form-inline">
        <button class="btn btn-outline-danger my-2 my-sm-0" [routerLink]="['/home']">User Menu</button>
    </form>
</nav>
<div id="all">
    <div class="body">
        <div class="section" id="addProduct">
            <h1> Add Product </h1>
            <div class="label"> Name: </div>
            <input [(ngModel)]="addName" required="" type="text" placeholder="Item Name"/>
            <div class="label"> Quantity: </div>
            <input [(ngModel)]="addQuantity" type="number"  min="1" />
            <div class="label"> Description: </div>
            <input [(ngModel)]="addDescription"  type="text" placeholder="Item Description"/>
            <div class="label"> Price: </div>
            <input [(ngModel)]="addPrice" type="number"  min=".01" />
            <div class="label"> Image: </div>
            <input [(ngModel)]="addImage" type="text" placeholder="Item Image url"/>
            <button class="btn btn-outline-success" (click)="addNewProduct()">Add Item</button>
            <small>{{message}}</small>
            
        </div>
        <div class="section" id="updateProduct">
            <h1> Update Product </h1>
            <div class="label"> Select Name: </div>
            <select [(ngModel)]="selected" placeholder="select" (ngModelChange)="getProductSelected()">
                <option  *ngFor="let prod of productList" >{{prod.name}}
                </option>
            </select>
            <div *ngIf="currentProduct" id="popout">
                <div class="label"> Quantity: </div>
                <input type="number" [(ngModel)]="updateQuantity" min="1" >
                <div class="label"> Description: </div>
                <input  type="text" [(ngModel)]="updateDescription"/>
                <div class="label"> Price: </div>
                <input type="number" [(ngModel)]="updatePrice"  min=".01"/>
                <div class="label"> Image: </div>
                <input  type="text" [(ngModel)]="updateImage" />
            </div>
            <button class="btn btn-outline-warning" (click)="updateProduct()">Update Item</button>
            <small>{{message2}}</small>
        </div>
        <div class="section" id="deleteReview">
            <h1> Delete Product </h1>
            <div class="label"> Select Product: </div>
            <select [(ngModel)]="selected2" placeholder="select" (ngModelChange)="getProductSelected2()">
                <option  *ngFor="let prod of productList" >{{prod.name}}
                </option>
            </select>
            <button class="btn btn-outline-danger" (click)="deleteProduct()">Delete Product</button> 
            <small>{{message3}}</small>
        </div>

    </div >   
    <div class="body">
        <div    class="empty" id="addProduct">
           <h3>Product Visualization</h3> 
            <app-product-card 
            class="cardListItem"
            [productInfo]="{id: 1, name:this.addName, price: this.addPrice,
                image: this.addImage, description: this.addDescription, quantity: this.addQuantity, reviews:[]}"
        ></app-product-card> 
        </div>
        <div *ngIf="currentProduct" class="empty" id="updateProduct">
            <h3>Update Visualization</h3> 
            <app-product-card 
            class="cardListItem"
            [productInfo]="{id: this.updateId, name:this.selected, price: this.updatePrice,
            image: this.updateImage, description: this.updateDescription, quantity: this.updateQuantity, reviews:this.updateReviews}"
        ></app-product-card> 
        </div>
        <div *ngIf="!currentProduct" class="empty"  id="updateProduct">
        </div>
        <div *ngIf="!deleteProductShow" class="empty" id="deleteReview">
        </div>
        <div *ngIf="deleteProductShow" class="empty"id="deleteReview">
            <h3>Delete Visualization</h3> 
            <app-product-card 
            class="cardListItem"
            [productInfo]="{id: this.productIdToDelete, name:this.selected2, price: this.deletePrice,
            image: this.deleteImage, description: this.deleteDescription, quantity: this.deleteQuantity, reviews:this.deleteReview}"
        ></app-product-card> 
        </div>
    
    </div>
    

</div>
