<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="gradientBack">
    <app-navbar></app-navbar>
<div class="container" >
    <!-- <button (click)="changeStyle()">nightMode</button> -->
    <div class="row align-items-start">
       <div class="col" *ngFor="let product of allProducts">
            <app-product-card (reloadReviews)="reload()"
                class="cardListItem"
                [productInfo]="product"
            ></app-product-card> 
        </div> 
    </div>
</div>
</body>
</html>
