/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(300deg,#f0f8ff,#afd6f7,#f0f8ff,#88c0eb,#bff1f9,#b0deff,#fefefe,#f0f8ff);
    background-size: 480% 480%;
    animation: gradient-animation 48s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}