.reset-page {
  width: 35%;
  padding-left: 2em;
  padding-bottom: 3em;
}

.buttons {
  padding-left: 2em;
  /* background-color: lightblue; */
}
.btn.btn-success {
  margin-left: 30px;
}

.error {
  color: red;
}
