<div class = "reset-page">
    <div>
        <label for="InputCurrentPassword">Enter Current Password</label>
        <input type="password" class="form-control" id="InputCurrentPassword" placeholder="Password" [(ngModel)]="currentPassword">
    </div>
    <div>
        <label for="InputNewPassword1">Enter New Password</label>
        <input type="password" class="form-control" id="InputNewPassword1" placeholder="Password" [(ngModel)]="newPassword">
    </div>
    <div>
        <label for="InputNewPassword2">Re-Enter New Password</label>
        <input type="password" class="form-control" id="InputNewPassword2" placeholder="Password" [(ngModel)]="newPasswordReEnter">
        <p class = "error">{{message}}</p>
    </div>
</div>
<div class = "buttons">
    <button class="btn btn-danger"[routerLink]="['/home']">Back</button>
    <button class ="btn" (click) = "changePassword()">Submit</button>
</div>

